.inputContainer{
	margin-top:20px;
	box-sizing: border-box;
	width:100%;
	input{
		height:50px;
		border:1px solid black;
		padding:0 10px;
		box-sizing:border-box;
		border-radius:4px;
		width:100%;
		font-size:16px;
	}
}